[submodule "references/Hexalith.AI.Tools"]
	path = references/Hexalith.AI.Tools
	url = https://github.com/Hexalith/Hexalith.AI.Tools.git
[submodule "references/Hexalith.Agents"]
	path = references/Hexalith.Agents
	url = https://github.com/Hexalith/Hexalith.Agents.git
[submodule "references/Hexalith.Builds"]
	path = references/Hexalith.Builds
	url = https://github.com/Hexalith/Hexalith.Builds.git
[submodule "references/Hexalith.ChatBot"]
	path = references/Hexalith.ChatBot
	url = https://github.com/Hexalith/Hexalith.ChatBot.git
[submodule "references/Hexalith.Commons"]
	path = references/Hexalith.Commons
	url = https://github.com/Hexalith/Hexalith.Commons.git
[submodule "references/Hexalith.Conversations"]
	path = references/Hexalith.Conversations
	url = https://github.com/Hexalith/Hexalith.Conversations.git
[submodule "references/Hexalith.EventStore"]
	path = references/Hexalith.EventStore
	url = https://github.com/Hexalith/Hexalith.EventStore.git
[submodule "references/Hexalith.Folders"]
	path = references/Hexalith.Folders
	url = https://github.com/Hexalith/Hexalith.Folders.git
[submodule "references/Hexalith.FrontComposer"]
	path = references/Hexalith.FrontComposer
	url = https://github.com/Hexalith/Hexalith.FrontComposer.git
[submodule "references/Hexalith.Memories"]
	path = references/Hexalith.Memories
	url = https://github.com/Hexalith/Hexalith.Memories.git
[submodule "references/Hexalith.Parties"]
	path = references/Hexalith.Parties
	url = https://github.com/Hexalith/Hexalith.Parties.git
[submodule "references/Hexalith.PolymorphicSerializations"]
	path = references/Hexalith.PolymorphicSerializations
	url = https://github.com/Hexalith/Hexalith.PolymorphicSerializations.git
[submodule "references/Hexalith.Projects"]
	path = references/Hexalith.Projects
	url = https://github.com/Hexalith/Hexalith.Projects.git
[submodule "references/Hexalith.Tenants"]
	path = references/Hexalith.Tenants
	url = https://github.com/Hexalith/Hexalith.Tenants.git
[submodule "references/Hexalith.Timesheets"]
	path = references/Hexalith.Timesheets
	url = https://github.com/Hexalith/Hexalith.Timesheets.git
[submodule "references/Hexalith.Works"]
	path = references/Hexalith.Works
	url = https://github.com/Hexalith/Hexalith.Works.git
